body .header{
    margin-bottom: 0;

    .navbar{
        margin-bottom: 0;
    }
}
.main-content{   
   background: url("../images/background/sky1.jpg") no-repeat fixed;
   background-size: 100% 100%;
   min-height: calc(100% - 52px);
}


.success-message{
    color: greeen;
    font-weight: bold;
}

.error-message{
    color: red;
    font-weight: bold;
}
