.trip-card{
    position: relative;
    margin-top: 60px;
    /*margin-left:50px;*/
    /*box-shadow: 0px 3px 1px -2px rgba(2, 2, 2, 0.34), 0px 2px 2px 0px rgba(2, 2, 2, 0.398), 0px 1px 5px 0px rgba(2, 2, 2, 0.584);*/
    box-shadow: none;
    -moz-border-image: url("../images/border3.png") 33% round round;
    -webkit-border-image: url("../images/border3.png") 33% round round;
    border-image: url("../images/border3.png") 33% round round;
    border-width: 50px;

    md-card-content, md-card-footer, div.md-actions{
        background-color: #ECEABB;
    }

    .avatar{
        width: 100px;
        height: 100px;
        position: absolute;
        top: -15px;
        left: -15px;
        border-radius: 50%;
        border: gray 2px double;
    }
    md-card-content{
        padding-left: 30px;
        .fullname{
            margin-left: 70px;
            border-bottom: 1px solid #DADADA;
            font-weight: bold;
            font-size: 15px
        }
        .trip-title{
            font-weight: bold;
            margin-left: 65px;
        }
        .trip-description{
            margin-left: -15px;
            /*border: 1px solid gray;*/
            border-radius: 30px;
            padding: 0px;
            /*-moz-border-image: url("../images/border3.png") 33% round round;
            -webkit-border-image: url("../images/border3.png") 33% round round;
            border-image: url("../images/border3.png") 33% round round;
            border-width: 50px;*/

            .description-content{
                /*background-color: #ECEABB;*/
            }
        }
        .trip-info{
            background: rgba(2, 42, 187, 0.27);
            border: 1px solid gray;
            border-radius: 10px;
            md-icon{
                color: blue;
            }
        }
    }

}
