<md-dialog aria-label="Create your route">
  <form>
	  <md-toolbar>
	    <div class="md-toolbar-tools">
	      <h2>Create your route</h2>
	      <span flex></span>
	      <md-button class="md-icon-button" ng-click="vm.cancel()">
	        <md-icon md-font-library="material-icons">close</md-icon>
	      </md-button>
	    </div>
	  </md-toolbar>
	  <md-dialog-content style="width:1200px;height:1400px; ">
		   <md-content layout-padding class="autoScroll">

			  <md-input-container>
			    <label>Title</label>
			    <input required ng-model="vm.routeModel.title" type="text">
			  </md-input-container>

			  <md-input-container>
			    <label>Description</label>
			    <input ng-model="vm.routeModel.description" type="text">
			  </md-input-container>

			  <md-input-container flex>
			    <label>Number of people</label>
			    <input  type="number" step="any" name="rate" ng-model="vm.routeModel.totalMember" min="0" max="50">
			  </md-input-container>

			  <!-- Add destination to route -->
				<div layout="column" ng-cloak>
				  <md-content layout-padding layout="column">
				      <label>Add destinations</label>
				      <div ng-repeat = "destination in vm.routeModel.destinations track by $index">
					      <md-autocomplete
					          md-selected-item="vm.routeModel.destinations[$index]"
					          md-search-text="searchText"
					          md-selected-item-change="vm.selectedDestinationChange(item, $index)"
					          md-items="item in vm.getDestinationsList(searchText)"
					          md-item-text="item.destination"
					          md-min-length="1"
					          placeholder="Select a destination"
					          md-menu-class="autocomplete-custom-template">

					        <md-item-template >
					          <!--<span class="item-title">-->
					            <!--<md-icon md-svg-icon="img/icons/octicon-repo.svg"></md-icon>-->
					            <!--<span> {{item.destination}} </span>-->
					          <!--</span>-->
					          <!--<span class="item-metadata">-->
					            <!--<span class="item-metastat">-->
					              <!--<strong>{{item.address}}</strong>-->
					            <!--</span>-->
					            <!--<span class="item-metastat">-->
					              <!--<strong>{{item.photo}}</strong>-->
					            <!--</span>-->
					          <!--</span>-->
                    <div class="item-image" style="background-image: url('images/dubai-img/{{item.photo}}');"></div>
                    <div class="item-info" >
                      <div class="item-info-name" >
                        {{item.destination}}
                      </div>
                      <div class="item-info-address" >
                        {{item.address}}
                      </div>
                    </div>
					        </md-item-template>

					      </md-autocomplete>

					      <!-- <pre>{{vm.routeModel.destinations[$index] | json}}</pre> -->
				  	  </div>
				  	  <div class="md-actions" layout="row">
					  	  <md-button class="md-fab md-mini md-primary" type="button" ng-click="vm.addMoreDestination()">
					        <md-icon md-font-library="material-icons">add circle</md-icon>
					      </md-button>
					      <md-button class="md-fab md-mini md-warning" type="button" ng-click="vm.removeDestination()">
					        <md-icon md-font-library="material-icons">remove circle</md-icon>
					      </md-button>
				  	   </div>
				  	 </md-content>
				</div>
			  <!-- Add destination to route -->

			  <div class="md-actions" layout="row">
			    <span flex></span>
			    <md-button class="md-raised md-warn" ng-click="vm.answer('cancel')">Cancel</md-button>
			    <md-button class="md-raised md-primary" ng-click="vm.confirmRoute(vm.routeModel)">Create</md-button>
			  </div>

			</md-content>
	   </md-dialog-content>
  </form>
</md-dialog>
