<md-content layout-padding class="autoScroll">
  <md-input-container class="md-icon-float" >
    <!-- Use floating label instead of placeholder -->
    <label>First name</label>
    <md-icon md-font-library="material-icons">person</md-icon>
    <input ng-model="user.name" type="text">
  </md-input-container>
  <md-input-container class="md-icon-float" >
    <!-- Use floating label instead of placeholder -->
    <label>PNR</label>
    <md-icon md-font-library="material-icons">vpn_key</md-icon>
    <input ng-model="user.name" type="text">
  </md-input-container>
  <md-button class="md-raised md-primary">Login</md-button>
</md-content>
